@page "/"
@using MauiApp3.app.robot
@inject AgvRobot Robot
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="智能小车"/>
<TabComponent Tabs="Robot.Tabs()"></TabComponent>

@code {
    
}
